.headers {
    background-image: linear-gradient(to right,#013a2f,#005c68,#008293);
    color: #fff;
    padding: 80px;
    border-bottom: 2px solid #01333a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 80px;
  }
  .headers-text{
    text-align: left;
  }
  
  .headers h1 {
    margin: 0;
    font-size: 8rem;
  }
  
  .headers p {
    margin: 5px 0 0;
    font-size: 4.5rem;
    font-weight: 300;
  }