.form-container {
    background-color: rgb(219, 249, 255);
    padding: 30px;
    border-radius: 8px;
    max-width: 500px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #01333a;
  }
  
  .loan-form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 15px;
    font-size: 1rem;
    color: #333;
  }
  
  input,
  select {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    margin-top: 5px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #008293;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  button:hover {
    background-color: #01333a;
  }
  